

<div class="row">
    <div class="details-heading">Suggested Default Value</div>
    {{#if user}}
        <input type="text" name="defaultValue" placeholder="Enter a default value for this term." value="{{record.defaultValue}}"/>
    {{else}}
        <input type="hidden" name="defaultValue" value="{{record.defaultValue}}"/>
        {{#if record.defaultValue}}
            {{record.defaultValue}}
        {{else}}
            No default value specified.
        {{/if}}
    {{/if}}
</div>