<div class="record">
    <div class="term">
        <div class="row">
            <div class="column small-8 title glyphicon glyphicon-tree-deciduous">
                {{#if termLabel}}{{termLabel}}{{else}}{{uniqueId}}{{/if}}
                <div class="glyphicon glyphicon-pencil"></div>
            </div>
            <div class="column small-4">
                <div class="version">
                    v. 5 approved
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column small-8 subtitle">
                {{uniqueID}}
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <pre>{{definition}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="column small-4">
                <div class="heading">Value Space</div>
                <div>URI</div>
            </div>
            <div class="column small-8">
                <div class="heading">Uses</div>
                <ul>
                    <li>GPII (source)</li>
                </ul>
            </div>
        </div>
    </div>
    {{#if aliases}}
        <div class="aliases">
            {{#each aliases}}
                {{> alias }}
            {{/each}}
        </div>
    {{/if}}
</div>