<div class="record">
    <div class="term">
        <div class="row">
            <div class="column small-8 title glyphicon glyphicon-tree-deciduous">
                {{#if termLabel}}{{termLabel}}{{else}}{{uniqueId}}{{/if}}
                <div class="glyphicon glyphicon-pencil"></div>
            </div>
            <div class="column small-4">
                <div class="version">
                    {{#if version}}
                        v. {{version}}
                    {{/if}}
                    {{status}}
                    <span class="ptd-icon-">{{status}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column small-8 subtitle">
                {{uniqueID}}
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <div>
                    {{#md}}{{definition}}{{/md}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column small-4">
                {{>valuespace}}
            </div>
            <div class="column small-8">
                {{>uses}}
            </div>
        </div>
    </div>
    {{#if aliases}}
        <div class="aliases">
            {{#each aliases}}
                {{> alias }}
            {{/each}}
        </div>
    {{/if}}
</div>