<div class="record">
    <div class="term">
        <div class="row">
            <div class="column small-8 title glyphicon glyphicon-tree-deciduous">
                {{#if record.termLabel}}{{record.termLabel}}{{else}}{{record.uniqueId}}{{/if}}
                <a href="/detail/{{record.uniqueId}}">
                    {{#if user}}
                        <div class="glyphicon glyphicon-pencil" title="Edit"></div>
                    {{else}}
                        <div class="glyphicon glyphicon-eye-open" title="View"></div>
                    {{/if}}
                </a>
            </div>
            <div class="column small-4">
                {{>version}}
            </div>
        </div>
        <div class="row">
            <div class="column small-8 subtitle">
                {{record.uniqueId}}
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <div>
                    {{#md}}{{record.definition}}{{/md}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column small-4">
                {{>valuespace}}
            </div>
            <div class="column small-8">
                {{>uses}}
            </div>
        </div>
    </div>
    {{#if record.aliases}}
        <div class="aliases">
            {{#each record.aliases}}
                {{> alias }}
            {{/each}}
        </div>
    {{/if}}
</div>