<div class="record">
    <div class="term">
        <div class="row">
            <div class="column small-8 title glyphicon glyphicon-tree-deciduous">
                <a href="/details/{{record.uniqueId}}">
                {{#if record.termLabel}}{{record.termLabel}}{{else}}{{record.uniqueId}}{{/if}}
                    {{#if user}}
                        <div class="glyphicon glyphicon-pencil" title="Edit"></div>
                    {{else}}
                        <div class="glyphicon glyphicon-eye-open" title="View"></div>
                    {{/if}}
                </a>
            </div>
            <div class="column small-4">
                {{>version}}
            </div>
        </div>
        <div class="row">
            <div class="column small-8 subtitle">
                {{record.uniqueId}}
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <div>
                    {{#md}}{{record.definition}}{{/md}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column small-4">
                {{>search-valuespace}}
            </div>
            <div class="column small-8">
                {{>search-uses}}
            </div>
        </div>
    </div>
    {{#if record.aliases}}
        <div class="aliases">
            {{#if user}}
                {{#each record.aliases}}
                    {{> search-alias-write }}
                {{/each}}
            {{else}}
                {{#each record.aliases}}
                    {{> search-alias-read }}
                {{/each}}
            {{/if}}
        </div>
    {{/if}}
 </div>